# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Database
db.sqlite3

# Django
*.log
media/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
